/*===================================== INFORMATION =================================================
This theme uses content created by other theme creators.
Wherever such content is used, their author is attributed.
If you have any questions or concerns, please contact me on GitHub: https://github.com/Spekulucius */


/*=========================================== COLORS ===================================================*/
.theme-light, .theme-dark {
    --caccent-i1: hsl(var(--accent-h), var(--accent-s), calc(calc(var(--accent-l) - 49%)*-100));
    --caccent-i2: hsl(var(--accent-h), var(--accent-s), calc(calc(var(--accent-l) - 67%)*-100));
}

.theme-light {
    --bg1: hsl(var(--accent-h), calc(var(--accent-s) - 20%), 90%, 100%);
    --bg1_2: rgb(234, 234, 234);
    --bg1-h: #bdbdbd;
    --bg1-item: var(--nav-item-color);
    --bg2: #f4f4f4;
    --caccent1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --bg3: hsl(var(--accent-h), calc(var(--accent-s) - 40%), 95%, 100%);
    --bg4: white;
    --bg5: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 90%);

    --color-base-00: var(--bg3);
    --color-base-50: var(--caccent1) !important;
    --interactive-normal: var(--interactive-accent);
    --interactive-accent: var(--caccent1);
    --icon-color: var(--caccent1);
    --tci: black;
    --tc: rgb(25, 25, 25);
    --canvas-background: var(--bg2);
}

.theme-dark {
    --bg1: #171717;
    --bg1-h: var(--caccent1);
    --bg1-item: var(--nav-item-color);
    --bg2: #252525;
    --caccent1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --bg3: hsl(var(--accent-h), calc(var(--accent-s) - 95%), 10%, 100%);
    --bg4: rgb(12, 12, 12);
    --bg5: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 30%);

    --color-base-00: var(--bg3);
    --color-base-50: var(--caccent1) !important;
    --interactive-normal: var(--interactive-accent);
    --interactive-accent: var(--caccent1);
    --tci: white;
    --tc: rgb(209, 209, 209);
    --background-secondary: var(--bg2);
    --canvas-background: var(--bg2);
}











/*=========================================== MAIN BODY - GENERAL CONFIG ===================================================*/

/*========= Nav Bar Buttons Animation ===================*/
div.nav-header
div.nav-buttons-container
.clickable-icon {
    width: 0px;
    height: 3px;
    padding: 3px;
    flex-grow: 0;
    background: var(--caccent1);
    color: transparent;
    border-radius: 50px;
    transition: flex-grow .5s, color .3s, height .6s, border-radius 3s, background 1s linear normal;
}

div.nav-header:hover
div.nav-buttons-container
.clickable-icon {
    height: 40px;
    flex-grow: 1;
    color: var(--nav-item-color);
    background: var(--bg1);
    border-radius: 5px;
    transition: background .1s, flex-grow 1s, color .01s, height .2s ease normal;
}

div.nav-buttons-container {
    column-gap: 4px !important;
    background: transparent;
    border-radius: 5px;
    transition: background .1s;
}

div.nav-header:hover
div.nav-buttons-container {
    column-gap: 0px !important;
    background: var(--bg1);
    border-radius: 5px;
    transition: .1s all;
}

div.nav-header
.clickable-icon:hover {
    background: var(--caccent1) !important;
    transition: all .2s;
    color: var(--caccent-i2) !important;
}



/*========= Left tab headers animation ====================*/
.mod-left-split
.workspace-tab-header-container-inner {
    flex-grow: 100 !important;
    justify-content: center;
    margin-bottom: .1px;
}



/*============== Ribbon Animation ===========================*/
.workspace-ribbon.side-dock-ribbon.mod-left {
    flex-basis: 20px;
    transition: .5s;
    background: transparent !important;
}

.workspace-ribbon.side-dock-ribbon.mod-left:hover {
    flex-basis: 44px;
    transition: .1s;
    background: transparent !important;
}


.workspace-ribbon.side-dock-ribbon.mod-left:before {
    background: transparent !important;
}



/*================= Ribbon Icons ============================*/
.side-dock-ribbon-action {
    width: 0px;
    height: 20px;
    padding: 3px;
    background: var(--caccent1);
        transition: color .01s, width .5s, background .2s linear normal;

}

.workspace-ribbon.side-dock-ribbon.mod-left:hover
.side-dock-ribbon-action {
    color: unset;
    width: 33.333px;
    background: none;
        transition: background .2s,  color .1s, width .1s ease normal;
}




/*================ Ribbon Sidebar Icon =====================*/
body:has(.workspace-ribbon.side-dock-ribbon):not(.mod-macos) .sidebar-toggle-button.mod-left {
    width: 20px !important;
        transition: .5s;
        padding-top: 10px;
        padding-bottom: 10px;
}


body:has(.workspace-ribbon.side-dock-ribbon):not(.mod-macos) .workspace-ribbon.side-dock-ribbon.mod-left:hover
.sidebar-toggle-button.mod-left {
    width: 44px !important;
    color: var(--bg1);
        transition: .1s;
}

body:not(.mod-macos) .sidebar-toggle-button.mod-left>.clickable-icon {
    color: transparent;
    background: var(--caccent1) !important;
    width: 0px;
    padding: 3px;
        transition: color .01s, width .5s, background .2s linear normal;
}

body:not(.show-ribbon):not(.mod-macos) .sidebar-toggle-button.mod-left>.clickable-icon {
    color: var(--caccent1);
    background: transparent !important;
    width: unset;
    padding: unset;
}

body:not(.mod-macos)
.workspace-ribbon.side-dock-ribbon.mod-left:hover
.sidebar-toggle-button.mod-left>.clickable-icon {
    color: var(--nav-item-color);
    width: 33.333px;
    background: transparent !important;
        transition: background .2s,  color .1s, width .1s ease normal;
}




/*==================== Remove Borders ===============================*/
.workspace-tab-header-container, .workspace-ribbon.side-dock-ribbon.mod-left {
    border: none !important;
}



.workspace-tab-header-container {
    background: transparent;
}




/*================ Adjust workspace background ========================*/

.titlebar-button-container.mod-right,
.workspace-split {
    background: var(--bg3) !important;
}

.view-header,
.workspace-split.mod-left-split .workspace-sidedock-vault-profile,
.empty-state,
.markdown-rendered,
.community-modal-details,
.workspace-tab-container,
.cm-scroller {
    background-color: var(--bg2) !important;
}


.workspace-tabs:not(.mod-top) {
    background: var(--bg2);
}

.workspace-tab-header-container {
    background: transparent !important;
}



/*======================= workspace borders ================================*/
body:not(.is-mobile) .app-container {
    background: transparent;
}
body:not(.is-mobile)
.horizontal-main-container {
    padding-bottom: 20px;
    display: flex;
    overflow: visible;
    flex: 1 0 0;
    background: transparent;
}

/*============================= outer line ===================================*/
body:not(.is-mobile)
.workspace {
    background-color: transparent;
    margin-right: 20px;
    position: relative;
    overflow: visible;
    display: flex;
    flex: 1 0 0;
    width: 100%;
}

body:not(.is-mobile):not(.show-ribbon) .workspace {
    margin-left: 20px;
}
body:not(.is-mobile):not(.show-ribbon) .workspace:before {
    width: 100%;
}



.workspace:not(.is-mobile)::before {
    content: " ";
    width: 100%;
    height: calc(100% - 40px);
    background-color: transparent;
    border-radius: 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 0px 1px var(--divider-color);
}


body:has(.show-ribbon):not(.is-mobile),:has(.workspace-ribbon.side-dock-ribbon:hover) .workspace::before {
    width: calc(100% - 44px);
    transition-duration: .1s;
}

body:has(.show-ribbon):not(.is-mobile),:has(.workspace-ribbon.side-dock-ribbon) .workspace::before {
    width: calc(100% - 20px);
    transition: all .5s ease;
}

.workspace-split {
    background: transparent !important;
}




/*==================== resize handles ====================*/
.workspace-split.mod-left-split > .workspace-leaf-resize-handle, .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    height: calc(var(--divider-vertical-height) - var(--header-height)) !important;
    bottom: 0px !important;
}


.workspace-split.mod-left-split > .workspace-leaf-resize-handle, .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    height: calc(var(--divider-vertical-height) - var(--header-height)) !important;
    bottom: 0px !important;
}







/*=================== workspace rounded corners ===================*/

body:has(.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed), 
body:has(.workspace-tabs.mod-active.mod-top.mod-top-left-space.mod-top-right-space) .workspace-tab-container {
    border-radius: 7px !important;
}


.mod-top-right-space .workspace-tab-container {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: transparent !important;
}
.mod-top-left-space .workspace-tab-container {
    border-top-left-radius: 7px !important;

}

.workspace-sidedock-vault-profile {
    border-bottom-left-radius: 7px;
    background: var(--bg3) !important;
}
body:has(.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed) .workspace-sidedock-vault-profile {
    display: none;
}




    /*corner fix*/
    .workspace-split.mod-horizontal.mod-sidedock.mod-right-split
    .workspace-leaf {
        background: transparent;
    }

    body:has(.workspace-split.mod-horizontal.mod-sidedock.mod-right-split):not(body:has(.workspace-split.mod-horizontal.mod-sidedock.mod-right-split.is-sidedock-collapsed)) .mod-top-right-space .workspace-leaf-content {
        animation: background-color1 1s;
        animation-fill-mode: forwards;
    }

    body:has(.workspace-split.mod-horizontal.mod-sidedock.mod-right-split.is-sidedock-collapsed) .mod-top-right-space .workspace-leaf-content {
        animation: background-color2 0s;
    }
    @keyframes background-color1 {
        0% {
            background-color: transparent;
        }

        100% {
            background-color: var(--bg2);
        }
    }
    @keyframes background-color2 {
        0% {
            background-color: var(--bg2);
        }

        100% {
            background-color: transparent;
        }
    }





/*=============tab headers============*/
body:not(.mod-macos) .workspace-tab-header-container {
    padding-left: 0px !important;
}

.workspace-tab-header-container-inner {
    justify-content: left !important;
    padding-left: 10px !important;
}

.workspace .mod-root .workspace-tab-header {
    box-shadow: none;
    padding-bottom: 7px;
    background: transparent;
    margin-left: 0px;
    padding-left: 0px;
}

.workspace .mod-root .workspace-tab-header-inner {
    background: var(--bg1) !important;

}

.workspace .mod-root .workspace-tab-header.is-active
.workspace-tab-header-inner {
    background: var(--bg4) !important;
}
















/*=========================================== SETTINGS TAB ===================================================*/
/*========= button text color ===========*/
button {
    --text-color: var(--caccent-i1) !important;
    background-color: var(--caccent1);
    transition: all .2s;
    &:hover {
        --text-color: black !important;
    }
}

select,
.dropdown {
    --text-normal: var(--caccent-i1) !important;
    &:hover {
        --text-normal: var(--tci) !important;
    }
}


.checkbox-container.is-enabled::after {
    background-color: var(--caccent-i1);
    transition: .2s;
}










/*=========================================== Nav File Icons ===================================================*/
/*Credit goes to @Akifyss on github: https://github.com/Akifyss, https://github.com/Akifyss/obsidian-border */

.tree-item-self .tree-item-icon {
    height: var(--size-4-4);
    --icon-color:  var(--caccent1);
}

.tree-item-self .tree-item-icon .svg-icon:not(.right-triangle) {
    --icon-size: var(--icon-s);
    --icon-stroke: var(--icon-s-stroke-width);
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon svg.svg-icon,
body:not(.file-icon-remove) .workspace-leaf-content:is([data-type="bookmarks"], [data-type="file-explorer"]) .tree-item-icon.collapse-icon svg.svg-icon {
    color: transparent;
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon,
body:not(.file-icon-remove) .workspace-leaf-content:is([data-type="bookmarks"], [data-type="file-explorer"]) .tree-item-icon.collapse-icon {
    background-color: currentColor;
    opacity:  var(--caccent1);
}
body:not(.file-icon-remove) .workspace-leaf-content[data-type="tag"] .tree-item-self:not(:has(>.tree-item-icon.collapse-icon)):before,
body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] :is(.nav-file-title, .nav-folder.mod-root>.nav-folder-title)::before {
    content: " ";
    position: absolute;
    margin-left: calc(-1 * var(--size-4-5));
    width: var(--size-4-4);
    height: var(--size-4-4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: var(--icon-opacity);
    background-color: currentColor;
    flex: 0 0 auto;
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-folder.mod-root>.nav-folder-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M14 12.8V3.2c0-.884-.264-1.2-1-1.2H3c-.736 0-1 .316-1 1.2v9.6c0 .884.264 1.2 1 1.2h10c.736 0 1-.316 1-1.2Z'/%3e%3cpath d='M9.978 7.04a2 2 0 1 1-3.956.587 2 2 0 0 1 3.956-.587ZM8 9.333v2m6-6.666h1m-1 6h1'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .tree-item-icon.collapse-icon,
body:not(.file-icon-remove) .workspace-leaf-content[data-type="bookmarks"] .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M4 9.333 4.967 7.4a1.333 1.333 0 0 1 1.193-.733h7.173m0 0a1.333 1.333 0 0 1 1.294 1.666l-1.034 4a1.333 1.333 0 0 1-1.293 1H2.667A1.333 1.333 0 0 1 1.333 12V3.333C1.333 2.6 1.933 2 2.667 2h2.62a1.333 1.333 0 0 1 1.106.6l.547.8a1.333 1.333 0 0 0 1.107.6H12a1.333 1.333 0 0 1 1.333 1.333v1.334Z'/%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .is-collapsed .tree-item-icon.collapse-icon,
body:not(.file-icon-remove) .workspace-leaf-content[data-type="bookmarks"] .is-collapsed .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M2.667 13.333h10.666A1.333 1.333 0 0 0 14.667 12V5.333A1.333 1.333 0 0 0 13.333 4H8.047a1.333 1.333 0 0 1-1.107-.6l-.547-.8A1.333 1.333 0 0 0 5.287 2h-2.62a1.333 1.333 0 0 0-1.334 1.333V12c0 .733.6 1.333 1.334 1.333Z'/%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M9.333 1.333v4h4'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".canvas"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M6 2H2.667A.667.667 0 0 0 2 2.667v4.666c0 .369.298.667.667.667H6a.667.667 0 0 0 .667-.667V2.667A.667.667 0 0 0 6 2Zm7.333 0H10a.667.667 0 0 0-.667.667v2c0 .368.299.666.667.666h3.333A.667.667 0 0 0 14 4.667v-2A.667.667 0 0 0 13.333 2Zm0 6H10a.667.667 0 0 0-.667.667v4.666c0 .368.299.667.667.667h3.333a.667.667 0 0 0 .667-.667V8.667A.667.667 0 0 0 13.333 8ZM6 10.667H2.667a.667.667 0 0 0-.667.666v2c0 .368.298.667.667.667H6a.667.667 0 0 0 .667-.667v-2A.667.667 0 0 0 6 10.667Z'/%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .is-unsupported.nav-file-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M6.667 6.867c.133-.267.333-.534.6-.667A1.4 1.4 0 0 1 9 6.467c.2.266.333.533.333.866C9.333 8.2 8 8.667 8 8.667m0 2.666h.007'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .is-unsupported.nav-file-title:is([data-path$=".zip"], [data-path$=".7z"])::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M2.667 14.667v-12c0-.334.133-.667.4-.934.266-.266.6-.4.933-.4h5.667L13.333 5v8.333c0 .334-.133.667-.4.934-.266.266-.6.4-.933.4h-1.333'/%3e%3cpath d='M9.333 1.333v4h4m-6.666 9.334a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667Zm0-10V4m0 4v-.667m0 4.667v-1.333'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".webm"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M2.667 14.667H12a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v2'/%3e%3cpath d='M9.333 1.333v4h4M4.667 6.667 2.667 8H1.333v2.667h1.334l2 1.333V6.667Zm2.666.666c.427.534.667 1.247.667 2 0 .754-.24 1.467-.667 2'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".svg"], [data-path$=".bmp"], [data-path$=".jpeg"], [data-path$=".jpg"], [data-path$=".png"], [data-path$=".gif"])::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M12.667 2H3.333C2.597 2 2 2.597 2 3.333v9.334C2 13.403 2.597 14 3.333 14h9.334c.736 0 1.333-.597 1.333-1.333V3.333C14 2.597 13.403 2 12.667 2Z'/%3e%3cpath d='M6 7.333a1.333 1.333 0 1 0 0-2.666 1.333 1.333 0 0 0 0 2.666ZM14 10l-2.057-2.057a1.333 1.333 0 0 0-1.886 0L4 14'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".pdf"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M9.333 1.333v4h4m-2.666 3.334H5.333m5.334 2.666H5.333M6.667 6H5.333'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".excalidraw.md"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' clip-path='url(%23a)'%3e%3cpath d='M8 12.667 12.667 8l2 2L10 14.667l-2-2Z'/%3e%3cpath d='m12 8.667-1-5-9.667-2.334L3.667 11l5 1L12 8.667ZM1.333 1.333l5.058 5.058'/%3e%3cpath d='M7.333 8.667a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M6 3.333H1.333V8l4.194 4.193a1.617 1.617 0 0 0 2.28 0l2.386-2.386a1.617 1.617 0 0 0 0-2.28L6 3.333ZM4 6.007V6'/%3e%3cpath d='m10 3.333 4.2 4.2a1.6 1.6 0 0 1 0 2.267l-2.867 2.867'/%3e%3c/g%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="tag"] .tree-item-self:not(:has(>.tree-item-icon.collapse-icon))::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M8 1.333H1.333V8l6.194 6.193a1.617 1.617 0 0 0 2.28 0l4.386-4.386a1.617 1.617 0 0 0 0-2.28L8 1.333ZM4.667 4.667h.006'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

body:not(.file-icon-remove) .workspace-leaf-content[data-type="bookmarks"] svg.lucide-folder {
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M1.333 6V3.333C1.333 2.6 1.933 2 2.667 2h2.62a1.333 1.333 0 0 1 1.106.6l.547.8a1.333 1.333 0 0 0 1.107.6h5.286a1.333 1.333 0 0 1 1.334 1.333V12a1.333 1.333 0 0 1-1.334 1.333h-12'/%3e%3cpath d='m5.333 10.667 2-2-2-2'/%3e%3cpath d='M1.333 10.667V10a1.333 1.333 0 0 1 1.334-1.333h4'/%3e%3c/g%3e%3c/svg%3e");
}












/*=========================================== Active Line Highlight ===================================================*/
/*Credit goes to @Akifyss on github: https://github.com/Akifyss, https://github.com/Akifyss/obsidian-border */
.markdown-source-view .cm-content>.cm-active:not(:has(.mk-note-footer)):has(.cm-hmd-list-indent)::after,
.markdown-source-view .cm-content>.cm-active:not(.image-embed, .mk-header, .HyperMD-header, :has(.mk-note-footer, .collapse-indicator))::after {
    content: "";
    position: absolute;
    left: -12px;
    top: 3px;
    width: 3px;
    height: calc(100% - 6px);
    border-radius: 10px;
    background: var(--hover-indicator-color);
    --hover-indicator-color: var(--color-accent) !important;
    opacity: 1;
}

.cm-contentContainer .cm-active.HyperMD-list-line:not(.HyperMD-list-line-1)::after,
.cm-contentContainer .cm-active.HyperMD-codeblock:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end):after {
    opacity: 1 !important;
    --hover-indicator-color: var(--color-accent) !important;
}



/*============================================= Hover Indicator ========================================================*/
/*Credit goes to @Akifyss on github: https://github.com/Akifyss, https://github.com/Akifyss/obsidian-border */
.workspace-leaf-content:is([data-type="markdown"], [data-type="webviewer"]):not(:has(.document-search-container)) .markdown-preview-sizer>div:not(:has(.collapse-indicator, .mk-header)) {
    position: relative;
}

.markdown-source-view .cm-content>div:not(:has(.mk-note-footer)):has(.cm-hmd-list-indent)::after,
.markdown-source-view .cm-content>div:not(.image-embed, .mk-header, .HyperMD-header, :has(.mk-note-footer, .collapse-indicator))::after,
.markdown-preview-sizer>div:is(.el-ul, .el-ol)::after,
.markdown-preview-sizer>div:not(:has(.collapse-indicator, .mk-header))::after {
    content: "";
    position: absolute;
    left: -12px;
    top: 3px;
    width: 3px;
    height: 0;
    border-radius: 10px;
    background: var(--hover-indicator-color);
    --hover-indicator-color: var(--text-faint);
    opacity: 1;
}

.workspace-leaf-content[data-type="markdown"] .markdown-source-view .cm-content>div:not(:has(.mk-note-footer)):has(.cm-hmd-list-indent):hover::after,
.workspace-leaf-content[data-type="markdown"] .markdown-source-view .cm-content>div:not(.image-embed, .mk-header, .HyperMD-header, :has(.mk-note-footer, .collapse-indicator)):hover::after,
.workspace-leaf-content:is([data-type="markdown"], [data-type="webviewer"]):not(:has(.document-search-container)) .markdown-preview-sizer>div:is(.el-ul, .el-ol):hover::after,
.workspace-leaf-content:is([data-type="markdown"], [data-type="webviewer"]):not(:has(.document-search-container)) .markdown-preview-sizer>div:not(:has(.collapse-indicator, .mk-header)):hover::after {
    height: calc(100% - 6px);
}






/*======================================================== TEXT ================================================================*/
/*==================== HIGHLIGHTING ====================*/
.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    1px;
    padding-bottom: 1px;
    pointer-events: none;
    background-color: var(--caccent1);
    color: var(--tci);
    border-radius: 3px;
}
/*======== SEARCHED TEXT HIGHLIGHTING =================*/
.search-result-file-matched-text {
    background:var(--caccent1);
    color: var(--caccent-i1);
    border-radius: 3px;
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 3px;
}

.is-flashing {
    background:var(--caccent1) !important;
    color: var(--caccent-i1);
    border-radius: 3px;
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 3px;
}
/****************/





/*================== decrease font weight ===============*/
.markdown-preview-view, .view-content>.cm-s-obsidian, .view-content>.markdown-source-view.mod-cm6.is-live-preview>.cm-scroller, body {
    font-weight: 350;
    color: var(--tc);
    letter-spacing: .1px;
}
.cm-html-embed th, .markdown-rendered th {
    font-weight: 350;
    letter-spacing: .1px;
}
table {
    font-weight: 350;
    letter-spacing: .1px;
}
.view-content {
    border: 0px;
    letter-spacing: .1px;
}



/*========================================== HEADINGS =========================================*/
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-1 {
    margin-bottom: 0px !important;
    border-left: 3px solid var(--caccent1);
    padding-top: 0px !important;
    padding-left: 20px !important;
    box-shadow: var(--accent-color-light10);
    margin-left: -24px !important;
    letter-spacing: .1px;
}

.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-2 {
    margin-bottom: 0px !important;
    border-left: 3px dashed var(--caccent1);
    padding-top: 0px !important;
    padding-left: 20px !important;
    margin-left: -24px !important;
    letter-spacing: .1px;
}

.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-3 {
    margin-bottom: 0px !important;
    border-left: 3px dotted var(--caccent1);
    padding-top: 0px !important;
    padding-left: 20px !important;
    margin-left: -24px !important;
    letter-spacing: .1px;
}
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-4 {
    letter-spacing: .1px;
}
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-5 {
    letter-spacing: .1px;
}
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-header-6 {
    letter-spacing: .1px;
}

.markdown-rendered h1 {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    border-left: 3px solid var(--caccent1);
    padding-left: 20px;
    margin-left: -24px;
    letter-spacing: .1px;
}

.markdown-rendered h2 {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    border-left: 3px dashed var(--caccent1);
    padding-left: 20px;
    margin-left: -24px;
    letter-spacing: .1px;
}
.markdown-rendered h3 {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    border-left: 3px dotted var(--caccent1);
    padding-left: 20px;
    margin-left: -24px;
    letter-spacing: .1px;
}
.markdown-rendered h4 {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    letter-spacing: .1px;
}
.markdown-rendered h5 {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    letter-spacing: .1px;
}
.markdown-rendered h6 {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    letter-spacing: .1px;
}





/*======================================= Text Spacing =======================================*/
.el-p + .el-p {
    margin-top: 2em !important;
}

p + p {
    margin-top: 2em !important;
}

p {
    margin-top: 0px !important;
    margin-bottom: .1em !important;
}

p + ul {
    margin-top: 0px !important;
}

ul {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

p:has(+ ul.has-list-bullet) {
    margin-bottom: 0px;
}

.el-p:has(+ .el-ul) {
    margin-block-end: -em !important;
}

/*======================================= LISTS =======================================*/
.markdown-rendered ul.has-list-bullet {
    margin: 0px;
}

.el-ul + .el-p {
    margin-top: 1.5em !important;
}

li {
    margin-left: 1.6em !important;
}









/*===================================== Blockquotes =====================================*/
/*Credit goes to @Akifyss on github: https://github.com/Akifyss, https://github.com/Akifyss/obsidian-border */
body {
    --background-alt-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    --background-alt-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
body {
    --blockquote-border-thickness: 3px;
    --blockquote-border-color: var(--interactive-accent);
    --blockquote-font-style: normal;
    --blockquote-color: inherit;
    --blockquote-background-color: transparent;
    --blockquote-background-light: var(--background-alt-light);
    --blockquote-background-dark: var(--background-alt-dark);
}
.theme-light .markdown-source-view .cm-scroller .cm-line.HyperMD-quote,
.theme-light .markdown-rendered blockquote {
    border-radius: var(--radius-s);
    background: var(--blockquote-background-light);
}
.theme-dark .markdown-source-view .cm-scroller .cm-line.HyperMD-quote,
.theme-dark .markdown-rendered blockquote {
    border-radius: var(--radius-s);
    background: var(--blockquote-background-dark);
}
.markdown-rendered blockquote,
.markdown-preview-view blockquote {
    position: relative;
}
.markdown-rendered blockquote::before,
.markdown-preview-view blockquote::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    height: calc(100% - 8px);
    width: var(--blockquote-border-thickness);
    background-color: var(--blockquote-border-color);
    border-radius: 24px;
}
.markdown-rendered blockquote {
    border-left: none;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote::before {
    content: "";
    width: var(--blockquote-border-thickness) !important;
    border-left: none !important;
    background-color: var(--blockquote-border-color);
    border-radius: 24px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: transparent;
    position: absolute;
    left: 0px !important;
    bottom: 4px !important;
    height: calc(100% - 4px);
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote.cm-line {
    border-left: 4px solid transparent;
}
.markdown-source-view.mod-cm6 div:not(.HyperMD-quote)+.HyperMD-quote::before,
.markdown-source-view.mod-cm6 .cm-content :first-child:is(.HyperMD-quote)::before {
    top: 4px !important;
    height: calc(100% - 4px);
    border-radius: 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.markdown-source-view.mod-cm6 div:not(.HyperMD-quote)+.HyperMD-quote:not(:has(+ .HyperMD-quote))::before,
.markdown-source-view.mod-cm6 .cm-content :first-child:is(.HyperMD-quote):not(:has(+ .HyperMD-quote))::before {
    bottom: 4px !important;
    top: 4px !important;
    height: calc(100% - 8px);
    border-radius: 24px;
}
.markdown-source-view.mod-cm6 .HyperMD-quote:has(+ .HyperMD-quote)::before {
    bottom: 0px !important;
    height: 100%;
    border-radius: 0px;
}
.markdown-source-view.mod-cm6 .HyperMD-quote {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: var(--radius-s) !important;
    border-bottom-right-radius: var(--radius-s) !important;
}
.markdown-source-view.mod-cm6 div:not(.HyperMD-quote)+.HyperMD-quote,
.markdown-source-view.mod-cm6 .cm-content :first-child:is(.HyperMD-quote) {
    border-top-left-radius: var(--radius-s) !important;
    border-top-right-radius: var(--radius-s) !important;
}
.markdown-source-view.mod-cm6 .HyperMD-quote:has(+ .HyperMD-quote) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}











/* =========================== CALLOUTS ============================*/
.theme-dark
.callout {
    color: inherit;
    background: var(--background-alt-dark);
    box-shadow: 0px 0px 0px 1px var(--divider-color);
    margin-top: 7px;
    --callout-padding: 0;
    --callout-title-color: inherit;
    --callout-title-padding: 6px 10px;
    --callout-title-size: inherit;
    --callout-content-padding: 5px 10px 0px 10px;
    --callout-content-radius: 0px;
    --blockquote-background-light: var(--background-alt-light);
    --callout-blend-mode: normal;
}
.theme-dark
.callout-content {
    background: var(--bg3) !important;
}
.theme-dark .callout-title {
    color: var(--tc);
    background: var(--bg5);
}
.theme-dark
.cm-callout {
    border-radius: 5px;
        box-shadow: 0px 0px 0px 1px var(--divider-color);
}
.theme-dark
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
    border-radius: 5px;
        box-shadow: 0px 0px 0px 1px var(--divider-color) !important;
}

.theme-light
.callout {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='99' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
    margin-top: 7px;
    --callout-padding: 0;
    --callout-title-color: inherit;
    --callout-title-padding: 6px 10px;
    --callout-title-size: inherit;
    --callout-content-padding: 5px 10px 0px 10px;
    --callout-content-radius: 0px;
    --blockquote-background-light: var(--background-alt-light);
    --callout-blend-mode: normal;
}
.theme-light
.callout-content {
    background: var(--bg1_2) !important;
}
.theme-light .callout-title {
    color: var(--tc);
    background: var(--bg5);
}
.theme-light
.cm-callout {
    border-radius: 5px;
        box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
}
.theme-light
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
    border-radius: 5px;
        box-shadow: 0px 0px 0px 1px rgb(204, 204, 204) !important;
}


.callout-content blockquote {
    margin-bottom: .2em !important;
    margin-top: .2em !important;
}

.callout-content ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*=========== No Callout Icon ===========*/
.callout-icon:not(.el-div .callout[data-callout="c"] .callout-icon) {
    display: none;
}




/*================ EMBEDS =================*/
img {
    border-radius: 10px;
}


img[alt="c"] {
    filter: grayscale(100%) !important;
}


/*================= ROUNDED TABLES =================*/
/*Credit goes to "FireIsGood": https://forum.obsidian.md/t/adding-rounded-corners-to-markdown-tables-with-snippets-a-clean-solution/60551 */
/* TABLES: Fix the borders and add a radius variable */
:root table {
    --table-border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
}
/* Add the radius */
th:first-child {border-top-left-radius: var(--table-border-radius)}
th:last-child {border-top-right-radius: var(--table-border-radius)}
tr:last-child td:first-child {border-bottom-left-radius: var(--table-border-radius)}
tr:last-child td:last-child {border-bottom-right-radius: var(--table-border-radius)}
      
/* Redo the borders */
:root :is(td, th) {
    border-width: 0 var(--table-border-width) var(--table-border-width) 0;
    border-color: var(--accent-color-light10) !important;
}
      
.cm-html-embed table, .markdown-rendered table {
    margin-top: 15px;
}
/****************/


/*============================ FIXES ===============================*/
/*fix ugly fade in tab bar*/
.mod-fade:not(.mod-at-end):after {
    content: none;
}

/*Fix modifier symbols top right*/
.mod-windows, .mod-linux {
--frame-right-space: 100px;
}

/*disable some elements*/
.workspace-ribbon.side-dock-ribbon.mod-left::before,
.workspace-tab-header.tappable:before,
.workspace-tab-header.tappable:after,
.workspace-tab-header-inner:after,
.workspace-tab-header-container:before {
    display: none !important;
}

body:not(.show-ribbon):has(.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed) .workspace-tab-header-container-inner {
    padding-left: 10px !important;
}





/*================= MACOS ==================*/
body.mod-macos .workspace-tabs.mod-top.mod-top-left-space .workspace-tab-header-container {
    padding-left: calc(var(--size-4-2) + var(--frame-left-space) + 10px) !important;
}

body:not(.show-ribbon).mod-macos .workspace-tabs.mod-top.mod-top-left-space .workspace-tab-header-container {
    padding-left: calc(var(--size-4-2) + var(--frame-left-space) - 34px) !important;
}

body.mod-macos .sidebar-toggle-button.mod-right {
    background: transparent !important;
}
